# Prerequisites
*.d
exemple
# Object files
*.json
*.o
*.ko
*.obj
*.elf
main.c
deer.jpg
main.cpp
output_folder
readme_exemples
teste.txt
code.json
test.py
# Linker output
*.ilk
*.map
*.exp
output_test/
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
main.c
test.txt
deer.txt
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
