# Prerequisites
*.d
CWebStudio.h
release
temp_lib
temp_lib.zip
exemple
*.pyc
bin
a/
usuarios
usuarios2
temp_compilation
luaDoTheWorld
teste.lua
# object files
*.o
cache2
build/c/lua_code.h
side_effect_copy
*.ko
out_folder
*.obj
*.elf
deer.jpg
main.cpp
output_folder
readme_exemples
teste.txt
code.json
test.py
# Linker output
*.ilk
*.map
*.exp
output_test/
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.loa

test.txt
deer.txt
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
output_test
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

!build.exe
!build.out
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
